{
  "openapi": "3.1.0",
  "info": {
    "title": "Sentinel Signal API",
    "version": "1.0.0",
    "summary": "Deterministic scoring primitives for automated decision workflows.",
    "description": "Public API surface for workflow-based scoring. Healthcare workflows are currently available in v1."
  },
  "servers": [
    {
      "url": "https://api.sentinelsignal.io",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Scoring",
      "description": "Unified scoring endpoint."
    },
    {
      "name": "Metadata",
      "description": "Workflow, limits, and usage metadata."
    }
  ],
  "paths": {
    "/v1/score": {
      "post": {
        "tags": [
          "Scoring"
        ],
        "summary": "Score a workflow payload",
        "description": "Returns deterministic score output for the requested workflow.",
        "operationId": "score",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request"
              },
              "examples": {
                "healthcareDenial": {
                  "summary": "Healthcare denial workflow",
                  "value": {
                    "workflow": "healthcare.denial",
                    "payload": {
                      "payer": "PAYER_X",
                      "cpt": "99213",
                      "icd10": [
                        "E11.9"
                      ],
                      "billed_amount": 250.0,
                      "place_of_service": "11",
                      "in_network": true
                    },
                    "options": {
                      "operating_point": "high_recall",
                      "allow_fallback": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scoring response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Requested version or operating mode unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "List available workflows",
        "operationId": "listWorkflows",
        "responses": {
          "200": {
            "description": "Workflow list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflows"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/limits": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Get plan limits",
        "operationId": "getLimits",
        "responses": {
          "200": {
            "description": "Limit envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Limits"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Get current usage",
        "operationId": "getUsage",
        "responses": {
          "200": {
            "description": "Usage totals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "APIKey"
      }
    },
    "schemas": {
      "Request": {
        "type": "object",
        "required": [
          "workflow",
          "payload"
        ],
        "properties": {
          "workflow": {
            "type": "string",
            "enum": [
              "healthcare.denial",
              "healthcare.prior_auth",
              "healthcare.reimbursement",
              "healthcare.appeal"
            ],
            "description": "Workflow identifier. Clients should handle unknown future workflows gracefully."
          },
          "payload": {
            "type": "object",
            "description": "Workflow-specific payload object.",
            "additionalProperties": true,
            "x-workflowSchemas": {
              "healthcare.denial": "Request payload for denial risk scoring",
              "healthcare.prior_auth": "Request payload for prior-auth risk scoring",
              "healthcare.reimbursement": "Request payload for reimbursement forecasting",
              "healthcare.appeal": "Request payload for appeal generation (beta-enterprise)"
            }
          },
          "options": {
            "$ref": "#/components/schemas/RequestOptions"
          }
        },
        "additionalProperties": false
      },
      "RequestOptions": {
        "type": "object",
        "properties": {
          "operating_point": {
            "type": "string",
            "enum": [
              "high_recall",
              "balanced",
              "high_precision"
            ],
            "description": "Decision profile; currently applies to healthcare.denial in v1."
          },
          "model_version": {
            "type": "string",
            "description": "Optional model version pin for deterministic replay."
          },
          "allow_fallback": {
            "type": "boolean",
            "default": true,
            "description": "If false, return 409 when requested version/profile is unavailable."
          }
        },
        "additionalProperties": false
      },
      "Response": {
        "type": "object",
        "required": [
          "score",
          "risk_level",
          "confidence",
          "model_version",
          "explanation",
          "scored_at"
        ],
        "properties": {
          "score": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Calibrated score. For reimbursement workflows, interpret with details context."
          },
          "risk_level": {
            "type": "string",
            "enum": [
              "low",
              "moderate",
              "high"
            ]
          },
          "confidence": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0
          },
          "model_version": {
            "type": "string"
          },
          "explanation": {
            "type": "object",
            "required": [
              "top_factors"
            ],
            "properties": {
              "top_factors": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "additionalProperties": false
          },
          "details": {
            "type": "object",
            "description": "Workflow-specific detail object.",
            "additionalProperties": true
          },
          "scored_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "Workflow": {
        "type": "object",
        "required": [
          "id",
          "name",
          "version"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "public",
              "beta-enterprise"
            ]
          }
        },
        "additionalProperties": false
      },
      "Workflows": {
        "type": "object",
        "required": [
          "workflows"
        ],
        "properties": {
          "workflows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Workflow"
            }
          }
        },
        "additionalProperties": false
      },
      "Limits": {
        "type": "object",
        "required": [
          "plan",
          "requests_per_second",
          "monthly_calls_included"
        ],
        "properties": {
          "plan": {
            "type": "string"
          },
          "requests_per_second": {
            "type": "integer",
            "minimum": 1
          },
          "monthly_calls_included": {
            "type": "integer",
            "minimum": 0
          },
          "usage_price_per_call_usd": {
            "type": "number",
            "minimum": 0.0
          }
        },
        "additionalProperties": false
      },
      "Usage": {
        "type": "object",
        "required": [
          "current_period",
          "total_calls",
          "billable_calls"
        ],
        "properties": {
          "current_period": {
            "type": "string",
            "description": "Billing period in YYYY-MM format."
          },
          "total_calls": {
            "type": "integer",
            "minimum": 0
          },
          "billable_calls": {
            "type": "integer",
            "minimum": 0
          },
          "remaining_free_calls": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "type",
              "message"
            ],
            "properties": {
              "type": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "request_id": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      }
    }
  }
}
